<img src='/images/iPad-BG.jpg'></img>
<div id='players-region'></div>
<div id='modal-region'></div>
<div id='footer-region'>
  <img class='player-icon' src='/images/piece-scarlett.png' />
  <img class='player-icon' src='/images/piece-mustard.png' />
  <img class='player-icon' src='/images/piece-white.png' />
  <img class='player-icon' src='/images/piece-green.png' />
  <img class='player-icon' src='/images/piece-peacock.png' />
  <img class='player-icon' src='/images/piece-plum.png' />

  <div id="accuse" class="vd-regular">ACCUSE!</div>

  <div id="help" class="vd-black"><span>?</span></div>
  <div id="menu">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>
</div>
