<img src='/images/iPad-BG.jpg'></img>
<div id='players-region'></div>
<div id='modal-region'></div>
<div id='footer-region'>
  <div class="player-icon vd-black red turn"><span>S</span></div>
  <div class="player-icon vd-black yellow"><span>M</span></div>
  <div class="player-icon vd-black gray"><span>W</span></div>
  <div class="player-icon vd-black green"><span>G</span></div>
  <div class="player-icon vd-black blue"><span>P</span></div>
  <div class="player-icon vd-black purple"><span>P</span></div>

  <div id="accuse" class="vd-regular">ACCUSE!</div>

  <div id="help" class="vd-black"><span>?</span></div>
  <div id="menu">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>
</div>
