#cards-region
  @include box-shadow(0 0 21px 0 rgba(0, 0, 0, 0.4) inset)
  background-image: url('/images/background-main.jpg')
  text-align: center
  text-transform: uppercase
  width: 50%
  float: left
  overflow: hidden

  .heading
    @include text-shadow(3px 3px 3px rgba(0, 0, 0, 0.4))
    color: white
    font-family: arial, sans-serif
    font-size: 14px
    padding: 13px

  .card
    height: 48px
    overflow: hidden
    position: relative

    .name
      font-size: 16px
      padding: 10px

    .zoom
      background-image: url('/images/zoom.png')
      position: absolute
      right: 0
      top: 0
      height: 21px
      width: 20px

    img
      @include border-radius(10px)

.card-group
  border: solid white
  border-width: 4px 2px 0 4px

  &:last-child
    .card:last-child
      height: auto !important

.card
  @include border-radius(5px 5px 0 0)
  background-color: white
  width: 90%
  margin: 0 auto


#card-region
  background-color: rgba(0, 0, 0, 0.7)
  text-align: center
  text-transform: uppercase

  &.active
    position: absolute
    width: 100%
    height: 100%

  .card
    @include border-radius(5px)
    width: 138px
    height: 203px
