#clues-region
  @include box-shadow(0 0 21px 0 rgba(0, 0, 0, 0.4) inset)
  background-image: url('/images/background-main.jpg')
  width: 50%
  float: right

.clue
  padding: 1px
  clear: both

  .checkbox
    background-color: lightgrey
    border: 2px solid grey
    width: 20px
    height: 20px
    text-align: center
    float: left

  .check
    opacity: 0

    &.selected
      opacity: 1

  .name
    line-height: 20px
    float: left
